*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
body {
    background-image: url(/img/about.png);
    background-size: cover;
    font-family: sans-serif;
}
.menu-bar {
    background: rgb(0, 100, 0);
    text-align: center;
}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li {
    width: 120px;
    margin:15px 5px;
    padding: 15px;
}
.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover {
    background:#2bab0d ;
    border-radius: 5px;
    transition: 500ms ease-in-out;
}
.menu-bar .fa {
    margin-right: 8px;
}
.sub-menu-1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position:fixed;
    background-color:rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    background: transparent;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    text-align: left;
    border-radius: 0px;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color:#b2ff00 ;
}
.fa-angle-right {
    float:right;
}

.sub-menu-2 {
    display: none;
}
.hover-me:hover  .sub-menu-2 {
    display:block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}
.footer {
    margin-top: 520px;
    display: flex;
    width: 100%;
    padding: 50px 15%;
    background: rgb(0,100,0);;
    color: #fff;
}
.footer div {
    text-align: center;
}
.col-2 {
    flex-grow: 1;
}
.footer div  h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.footer div a {
    display: block;
    margin: 10px 0px;
    text-decoration: none;
    color: #fff;
}
form input {
    width: 400px;
    height: 45px;
    margin: 20px 0 40px 0;
    border-radius: 4px;
    text-align: center;
    outline: none;
    border: none;
}
form button {
    background:#333;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
p {
    margin: 20px 0px;
}