* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.firstnav {display: flex;
    background-color: rgb(223, 138, 11);
    justify-content:flex-end;
    padding: 50px;
    margin: 5px;
    list-style: none;
    height: 20px;
}

.list-item {
    margin: 5px;
    padding: -5px;
}
.logo-img {height: 25px;
}
.secondnav {display: flex;
    background-color: black;
    justify-content:flex-end;
    padding: 20px;
    margin: 0px;
    list-style: none;
    height: 20px;
    color:rgb(223, 138, 11);
}
.main-img {
    width: 100%;
    height: 80vh;
}
p {
    background-color:rgb(223, 138, 11);
    padding: 5px;
    margin: -5px 0px ;
    color: black;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5em;
}
.footer {
    background-color: black;
    height: 180px;
    color:rgb(223, 138, 11);
    margin: -20px 0px;
}
a {
    text-decoration:none;
    color: black;
}
a:hover {
    color:#61b3e7;
    cursor: pointer;
    transition:all 500ms ease-in-out ;

}